name: WakaTime Stats Update
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: false
        default: 'warning'

jobs:
  update-readme:
    name: Update WakaTime Stats
    runs-on: ubuntu-latest
    steps:
      - name: Update README with WakaTime Stats
        uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          # Optional customizations:
          SHOW_TITLE: true
          SHOW_TIME: true
          SHOW_TOTAL: true
          TIME_RANGE: all_time
          LANG_COUNT: 5
          SHOW_MASKED_TIME: false